@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-prime: #1d1616;
  --color-second: #8e1616;
  --color-third: #d84040;
  --color-final: #eeeeee;
}

/* overflow hidden to perform the animation of the landing page */

/* body {
  overflow: hidden;
  animation: enableScroll 1s ease-in-out 4.5s forwards;
}
@keyframes enableScroll {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
} */

/* custom css */
@theme {
  /* colors */
  --color-prime: var(--color-prime);
  --color-second: var(--color-second);
  --color-third: var(--color-thied);
  --color-final: var(--color-final);

  /* font family */
  --font-roboto: "Roboto", sans-serif;

  /* text size */
  --text-fluid-xs: clamp(0.6rem, 2vw, 1rem);
  --text-fluid: clamp(0.8rem, 4vw, 1.2rem);
  --text-fluid-m: clamp(1rem, 6vw, 2.3rem);
  --text-fluid-l: clamp(1.5rem, 8vw, 3rem);

  /* padding */
  --spacing-fluid-xs: clamp(0.25rem, 2vw, 0.5rem);
  --spacing-fluid: clamp(0.5rem, 4vw, 1rem);
  --spacing-fluid-m: clamp(1rem, 6vw, 2rem);
  --spacing-fluid-l: clamp(1.5rem, 8vw, 3rem);
  --spacing-fluid-xl: clamp(2rem, 8vw, 4rem);
  --spacing-fluid-img: clamp(9.375rem, 50vw, 21.875rem);
}

/* tailwind custom classes */
.site-view {
  /* page basic style */
  @apply font-roboto max-w-7xl min-h-dvh mx-auto bg-final text-prime;
}

.btn-prime {
  /* basic button */
  @apply text-fluid text-final font-medium bg-third px-fluid py-fluid-xs rounded-md transition-colors duration-300 hover:bg-second cursor-pointer;
}

.btn-second {
  /* secondary button */
  @apply text-fluid text-final font-medium bg-prime border-2 border-transparent px-fluid py-fluid-xs rounded-md transition-colors duration-300 hover:bg-final hover:text-prime hover:border-2 hover:border-prime cursor-pointer;
}

.btn-third {
  /* third button */
  @apply text-fluid text-prime font-medium bg-final border-2 border-prime px-fluid py-fluid-xs rounded-md transition-colors duration-300 hover:bg-prime hover:text-final cursor-pointer;
}

.links {
  /* links common property */
  @apply text-third hover:underline hover:text-second;
}

.text-gradient {
  @apply inline-block bg-clip-text text-transparent bg-gradient-to-r;
}
