@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import "tailwindcss";

/* @custom-variant gray-sheet (&:where(.gray-sheet, .gray-sheet *));
@custom-variant dark (&:where(.dark, .dark *)); */

[data-theme="gray-sheet"] {
  --data-color-prime: 29, 22, 22;
  --data-color-second: 142, 22, 22;
  --data-color-third: 216, 64, 64;
  --data-color-final: 238, 238, 238;
}

[data-theme="purple-valley"] {
  --data-color-prime: 66, 72, 116;
  --data-color-second: 220, 214, 247;
  --data-color-third: 244, 238, 255;
  --data-color-final: 166, 177, 225;
}

[data-theme="bee-fly"] {
  --data-color-prime: 170, 150, 218;
  --data-color-second: 168, 216, 234;
  --data-color-third: 252, 186, 211;
  --data-color-final: 255, 255, 210;
}

[data-theme="olive-silor"] {
  --data-color-prime: 98, 111, 71;
  --data-color-second: 255, 207, 80;
  --data-color-third: 164, 180, 101;
  --data-color-final: 254, 250, 224;
}

[data-theme="dark-sheet"] {
  --data-color-prime: 238, 238, 238;
  --data-color-second: 142, 22, 22;
  --data-color-third: 216, 64, 64;
  --data-color-final: 29, 22, 22;
}

/* custom css */
@theme inline {
  /* colors */
  --color-prime: rgba(var(--data-color-prime), 1);
  --color-second: rgba(var(--data-color-second), 1);
  --color-third: rgba(var(--data-color-third), 1);
  --color-final: rgba(var(--data-color-final), 1);

  /* font family */
  --font-roboto: "Roboto", sans-serif;

  /* text size */
  --text-fluid-xs: clamp(0.6rem, 2vw, 1rem);
  --text-fluid: clamp(0.8rem, 4vw, 1.2rem);
  --text-fluid-m: clamp(1rem, 6vw, 2.3rem);
  --text-fluid-l: clamp(1.5rem, 8vw, 3rem);

  /* padding */
  --spacing-fluid-xs: clamp(0.25rem, 2vw, 0.5rem);
  --spacing-fluid: clamp(0.5rem, 4vw, 1rem);
  --spacing-fluid-m: clamp(1rem, 6vw, 2rem);
  --spacing-fluid-l: clamp(1.5rem, 8vw, 3rem);
  --spacing-fluid-xl: clamp(2rem, 8vw, 4rem);
  --spacing-fluid-img: clamp(9.375rem, 50vw, 21.875rem);
}

/* tailwind custom classes */
@layer base {
  body {
    /* overflow: hidden;
    animation: enableScroll 1s ease-in-out 4.5s forwards; */

    @apply font-roboto;
  }
}

@layer components {
  .site-view {
    @apply max-w-7xl min-h-dvh mx-auto bg-final text-prime;
  }

  .btn-prime {
    @apply text-fluid text-final font-medium bg-third px-fluid py-fluid-xs rounded-md transition-colors duration-300 hover:bg-second cursor-pointer;
  }

  .btn-second {
    @apply text-fluid text-final font-medium bg-prime border-2 border-transparent px-fluid py-fluid-xs rounded-md transition-colors duration-300 hover:bg-final hover:text-prime hover:border-prime cursor-pointer;
  }

  .btn-third {
    @apply text-fluid text-prime font-medium bg-final border-2 border-prime px-fluid py-fluid-xs rounded-md transition-colors duration-300 hover:bg-prime hover:text-final cursor-pointer;
  }

  .links {
    @apply text-third hover:underline hover:text-second;
  }
}

@layer utilities {
  .text-gradient {
    @apply inline-block bg-clip-text text-transparent bg-gradient-to-r;
  }
}

/* Animation key frames */

@keyframes enableScroll {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
