@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import "tailwindcss";

/* custom css */
@theme {
  /* colors */
  --color-prime: #1d1616;
  --color-second: #8e1616;
  --color-third: #d84040;
  --color-final: #eeeeee;

  /* font family */
  --font-roboto: "Roboto", sans-serif;

  /* text size */
  --text-fluid-xs: clamp(0.6rem, 2vw, 1rem);
  --text-fluid: clamp(0.8rem, 4vw, 1.2rem);
  --text-fluid-m: clamp(1rem, 6vw, 2.3rem);
  --text-fluid-l: clamp(1.5rem, 8vw, 3rem);

  /* padding */
  --spacing-fluid-xs: clamp(0.25rem, 2vw, 0.5rem);
  --spacing-fluid: clamp(0.5rem, 4vw, 1rem);
  --spacing-fluid-m: clamp(1rem, 6vw, 2rem);
  --spacing-fluid-l: clamp(1.5rem, 8vw, 3rem);
  --spacing-fluid-xl: clamp(2rem, 8vw, 4rem);
  --spacing-fluid-img: clamp(9.375rem, 50vw, 21.875rem);
}

/* tailwind custom classes */
.site-view {
  /* page basic style */
  @apply font-roboto max-w-7xl min-h-dvh mx-auto bg-final text-prime;
}

.btn-prime {
  /* basic button */
  @apply text-final bg-third px-4 py-1.5 rounded-md hover:bg-second cursor-pointer;
}

/* overflow hidden to perform the animation of the landing page */

/* body {
  overflow: hidden;
  animation: enableScroll 1s ease-in-out 6.5s forwards;
}
@keyframes enableScroll {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
} */
