/* home page landing animations */
.firstLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
  animation: fadeOut 2s ease-in-out 4.5s 1 forwards;
  transition: top 2s;
  z-index: 1000;
  pointer-events: none;
}

.welcomeText {
  color: transparent;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: textFade 1.5s ease-in-out 1s 1 forwards;
  transition: color 1.5s;
}

.introduction {
  color: transparent;
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: textFade 1.5s ease-in-out 2.5s 1 forwards;
  transition: color 1.5s;
}

@keyframes textFade {
  0% {
    color: transparent;
  }
  50% {
    color: #8e1616;
  }
  100% {
    color: transparent;
  }
}

@keyframes fadeOut {
  0% {
    filter: blur(0px);
    background-color: #eeeeee;
  }
  100% {
    filter: blur(100px);
    background-color: transparent;
    pointer-events: none;
  }
}
